In [1]:
from __future__ import unicode_literals
from bs4 import BeautifulSoup
from contextlib import closing
from requests import get
from requests.exceptions import RequestException
import csv
import html5lib
import logging
import os
import pandas as pd
import re
import sys
import time

In [19]:
def get_html(url):
    """This function makes a GET Request to the url specified.
    This gets the raw HTML content if there is a good response.
    """
    resp = get(url, stream=True)
    if resp.status_code == 200:
        return resp.content
    else:
        return None

In [20]:
def get_data(parsed_data_html):
    
    # Convert html data into beautifulSoup format using html parser
    parsed_data_bs = BeautifulSoup(parsed_data_html, "html.parser")

    # Search for table with id = 'myTable' and extract each row of data
    parsed_data_table = parsed_data_bs.find('table', {'id': 'myTable'})
    parsed_data_table = parsed_data_table.find('tbody')
    records = parsed_data_table.findAll('tr')
    extracted_record = []
    for record in records:
        elements = record.findAll('td')
        row_data = []
        for element in elements:
            row_data.append(element.text)
        extracted_record.append(row_data)
    return extracted_record

In [21]:
posts = [
    'Software Engineer',
    'Software Developer',
    'Python Developer',
    'Data Scientist',
    'Machine Learning Engineer'
]

In [22]:
locations = [
    'New York',
    'Edison',
    'Jersey City',
    'Chicago',
    'Brooklyn'
]

In [23]:
def get_records(posts, locations):
    data = []
    for post in posts:
        for location in locations:
            url = 'https://h1bdata.info/index.php?em=&job='
            url += post
            url += '&city=' + location
            url += '&year=All+Years'
            parsed_data_html = get_html(url)
            records = get_data(parsed_data_html)
            data.extend(records)
    return data

In [24]:
data = get_records(posts, locations)

In [26]:
len(data)

16996

In [27]:
df = pd.DataFrame(data)

In [30]:
df.columns = ['Employer', 'Job Title', 'Base Salary', 'Location', 'Submit Date', 'Start Date', 'Case Status']

In [32]:
df.sample(n=10)

,Employer,Job Title,Base Salary,Location,Submit Date,Start Date,Case Status
6184,TECHDEMOCRACY LLC,SOFTWARE ENGINEER,"115,000","EDISON, NJ",06/13/2018,06/27/2018,CERTIFIED
644,NOUS INFOSYSTEM PVT LTD,SOFTWARE ENGINEER,"73,445","NEW YORK, NY",05/29/2015,10/01/2015,CERTIFIED
9398,COLLABERA INC,SOFTWARE DEVELOPER,"142,000","NEW YORK, NY",09/11/2018,09/24/2018,CERTIFIED
481,RCRDCLUB CORPORATION,SOFTWARE ENGINEER,"72,010","NEW YORK, NY",03/26/2016,09/16/2016,CERTIFIED
13108,SQA CONCEPTS INC,SOFTWARE DEVELOPER,"97,000","EDISON, NJ",03/28/2019,09/16/2019,CERTIFIED
156,VEDAMSOFT INC,SOFTWARE ENGINEER,"58,000","NEW YORK, NY",02/11/2015,02/16/2015,DENIED
8922,CITADEL LLC,SOFTWARE ENGINEER,"135,000","CHICAGO, IL",03/01/2016,08/24/2016,CERTIFIED
15931,VENTOIS INC,PYTHON DEVELOPER,"92,768","NEW YORK, NY",04/05/2018,04/05/2018,CERTIFIED
15063,TECHZIO SOLUTIONS LLC,SOFTWARE DEVELOPER,"82,000","CHICAGO, IL",12/08/2018,01/01/2019,CERTIFIED
7720,TOCA LLC,SOFTWARE ENGINEER,"71,802","CHICAGO, IL",03/06/2015,09/04/2015,CERTIFIED